/* ===================================================== */
/* ================= GLOBAL SCROLLBAR ================== */
/* ===================================================== */

/* Фикс для съезжания сайта при появлении скроллбара */
html {
    overflow-y: scroll; /* Всегда показываем вертикальный скролл */
    scrollbar-gutter: stable; /* Резервируем место под скроллбар */
}

/* Для лучшей поддержки браузеров */
body {
    overflow-anchor: none; /* Предотвращает автоскролл */
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

/* Убираем трек полностью */
::-webkit-scrollbar-track {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

::-webkit-scrollbar-track-piece {
    background: transparent !important;
}

::-webkit-scrollbar-corner {
    background: transparent !important;
}

::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

/* Ползунок */
::-webkit-scrollbar-thumb {
    border-radius: 999px;
}