@media(max-width:768px){

    main{

        flex-direction:
            column;
    }

    aside{

        width:
            100%;
    }

    .products-panel{

        width:
            100%;
    }

    .dashboard-cards{

        grid-template-columns:
            1fr;
    }

    .panel-header{

        flex-direction:
            column;

        gap:
            15px;
    }

    .table-controls{

        width:
            100%;

        flex-wrap:
            wrap;
    }

    .search-input{

        width:
            100%;
    }

    .app-container{

        border-radius:
            0;
    }
}

@media(max-width:768px){

    .dashboard-cards{

        display:
            flex;

        flex-direction:
            column;

        gap:
            20px;
    }

    .dashboard-card{

        width:
            100%;
    }
}

@media(max-width:768px){

    .dashboard-cards{

        display:
            flex;

        flex-direction:
            column;

        align-items:
            center;
    }
}