body.purple-theme .vip-tooltip {

    background:
        linear-gradient(
            145deg,
            rgba(45,20,80,.96),
            rgba(88,28,135,.96)
        );

    border:
        1px solid rgba(255,215,0,.18);

    box-shadow:
        0 25px 60px rgba(255,215,0,.16);
}

body.purple-theme .vip-tooltip-title,
body.purple-theme .vip-percent,
body.purple-theme .vip-info {

    color: white;
}

body.purple-theme .vip-bar {

    background:
        rgba(255,255,255,.08);
}

body.purple-theme .vip-bar-fill {

    background:
        linear-gradient(
            90deg,
            #facc15,
            #fde047
        );
}